:root{
    --main-color-white: #effcf2;
    --main-color: #eb3379;
    --main-color-org: #fcedf3;
    --main-color-back: #fdf6f9;
    --main-color-lourd: #a3164c;
    --main-danger: #c5022f;
    --main-success: rgb(0, 68, 45);
    --main-gradient: #e0b566;
}