.events-news-menu ul li a{
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.events-news-menu ul li a p{
    margin-bottom: 0 !important;
}
.title-apropos{
    font-family: 'Museo500';
    text-align: center;
}
.all-admissions{
    gap: 20px;
}
.admission-text h1{
    font-family: 'Museo500';
}
.admission-text h3{
    padding: 10px 0;
    font-family: 'Museo500';
}
.admission-text ol {
    list-style: none;
    counter-reset: item;
  }
  .admission-text ol li {
    counter-increment: item;
    margin-bottom: 5px;
  }
  .admission-text li:before {
    margin-right: 10px;
    content: counter(item);
    background: var(--main-color);
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
}

.admission-filiere ul{
    padding-left: 0;
}
.admission-filiere ul li{
    padding: 5px 0;
}
.admission-filiere-title p{
    background-color: var(--main-color);
    padding: 10px;
    color: white;
}
.card-flex{
    gap: 10px;
}
.card-img-top{
    height: 300px;
}
@media screen and (max-width:505px){
    .events-news-menu ul li a{
        flex-direction: column;
    }
    .events-news-menu ul li a i{
        font-size: 1.5rem;
    }
    .news-feedback-img{
        display: none;
    }

}
@media screen and (max-width:430px){
    .events-news-menu ul li a p{
        display: none;
    }
}
@media screen and (max-width:370px){
    .news-feedback-text{
        flex-direction: column;
    }
    .feedback-text-rigth>div{
        justify-content: space-between;
    }
}