.events-news-menu ul li a{
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.events-news-menu ul li a p{
    margin-bottom: 0 !important;
}

@media screen and (max-width:505px){
    .events-news-menu ul li a{
        flex-direction: column;
    }
    .events-news-menu ul li a i{
        font-size: 1.5rem;
    }
    .news-feedback-img{
        display: none;
    }

}
@media screen and (max-width:430px){
    .events-news-menu ul li a p{
        display: none;
    }
}
@media screen and (max-width:370px){
    .news-feedback-text{
        flex-direction: column;
    }
    .feedback-text-rigth>div{
        justify-content: space-between;
    }
}