.news-board{
    width: 100%;
}

.news-board>.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.news-board .container>h1{
    font-family: 'Museo500';
}
.all-news-item{
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
    flex-direction: column;
    gap: 10px;
}
.all-news-item .top-news{
    gap: 10px;
    flex: 2;
    max-width: 100%;
    flex-wrap: wrap;
}

.top-news .top-news-item{
    flex: 1;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    /* box-shadow: 2px 2px 2px var(--main-color); */
    border-radius: 0 0 5px 5px;
    position: relative;
    width: 450px;
}
.news-item{
    text-decoration: none;
    background-color: var(--main-color-org);
    border-radius: 0 0 5px 5px;
}

.news-legende{
    width: 100%;
    background-color: rgba(5, 5, 5, 0.8);
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
}
.news-legende a.news-title{
    font-family: 'Museo500';
    font-size: 1.3rem;
}

.author .ac{
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.ac .createdat{
    color: #737373;
}
.bottom-news{
    width: 100%;
    gap: 10px;
}

.btn-donnee-actu a.bouton-transparent-large {
    border: 2px solid var(--main-color);
    border-radius: 8px;
    -webkit-box-shadow: 2px 3px 4px 0 rgba(0,0,0,0.24);
    -moz-box-shadow: 2px 3px 4px 0 rgba(0,0,0,0.24);
    box-shadow: 2px 3px 4px 0 rgba(0,0,0,0.24);
    color: var(--main-color);
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.25em;
    margin-top: 0.75rem;
    padding: 0.625em 2.153em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    right: 50%;
}
.btn-donnee-actu a.bouton-transparent-large:hover{
    background-color: var(--main-color);
    color: white;
}
.author{
    display: flex;
    align-items: center;
    gap: 5px;
}
.news-legende .author .author-avatar{
    width: 30px;
    padding-bottom: 5px;
}
.author-avatar img{
    width: 100%;
    border-radius: 5px;
}
.author h4.author-name{
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--main-color);
}
a.news-title:hover{
    color: var(--main-color);
    text-decoration: underline;
}

@media screen and (max-width: 655px) {
    .bottom-news{
        display: none;
    }
}
