{% extends '/istm_index/base_en.html.twig' %}
{% block title %}
  A propos - ISTM Uvira
{% endblock %}
{% block body %}
  <h3 class="title-apropos">
    A propos
  </h3>
  <div class="container">
    <div class="mission-vision flex">
      <div class="mission-vision-item">
        <i class="fa-solid fa-eye"></i>
        <h1>
          Mission
        </h1>
        <p>
          L'ISTM a pour mission de former les infirmiers spécialistes en
          sciences Infirmières et en santé publique qui maitrisent et donnent
          les soins des qualités d'une manière générale dans les milieux
          sanitaires. Il recherche également la promotion de la santé : <b>
            <i>prévention, rétablissement et protection.</i>
          </b>
        </p>
      </div>
      <div class="mission-vision-item">
        <i class="fa-solid fa-clone"></i>
        <h1>
          Vision
        </h1>
        <p>
          Dans la politique d'émergence et de progrès, l'ISTM-Uvira s'est doté
          d'un site de 8 hectares à Rutemba. C'est un cadre merveilleux et idéal
          pour un monde universitaire sur lequel reposent ses projets de
          construction :
        </p>
        <ul>
          <li>d'un bâtiment administratif ;</li>
          <li>
            des auditoires pour les cours et amphithéâtres polyvalents pour
            diverses activités scientifiques et publiques ;
          </li>
          <li>des laboratoires d'analyses biomédicales et de la Recherche</li>
          <li>une bibliothèque ;</li>
          <li>
            des logements pour étudiants, corps enseignant et administratif ;
          </li>
          <li>
            un complexe sportif (terrain de football, basketball, tennis, bassin
            de natation, etc.).
          </li>
        </ul>
        <p>
          Cette concession a son titre foncier et est mise en valeur de par un
          boisement avec 22156 arbres de divers genres et espèces. Actuellement,
          2 grands bâtiments de capacité de 8 auditoires spacieux sont en pleine
          construction.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
{% block events_news %}

{% endblock %}
