{% extends 'base.html.twig' %}

{% block title %}
  Domaines d'Etudes - ISTM Uvira
{% endblock %}
{% block events_news %}
  <div class="header-events-news">
    <div class="container">
      <div class="events-news-title flex">
        <h1>
          <a href="/filieres">Programme</a> et <a href="">Admission</a>
        </h1>
      </div>
    </div>
  </div>
  <div class="bottom-events-news">
    <div class="container">
      <div class="events-news-menu">
        <ul class="flex">
          <li><a href=""><i class="fa-solid fa-house"></i></a></li>
          <li>
            <a href="/filieres" class="flex">
              <i class="fa-solid fa-bullseye"></i>
                Filières
              </p>
            </a>
          </li>
          <li>
            <a href="" class="flex">
              <i class="fa-solid fa-door-open"></i>
                Admission
              </p>
            </a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="back">
  </div>
  <div class="all-filieres">
    <div class="container flex">
      <div class="filieres-left">
        <ul>
          {% for f in filiere %}
            <li><a href="/filieres/{{ f.slug }}">{{ f.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% block filieres_right %}
      {% endblock %}
      <div class="filieres-center">
        <h1>
          Admission
        </h1>
        <h3>
          Vous avez fait votre choix
        </h3>
        <p>
          Découvrez maintenant comment déposer votre dossier de demande
          d'Inscription
        </p>
        <a href="/admission" class="button">Admission</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block body %}

{% endblock %}
{% block feedback %}
  <div class="news-feedback flex">
    <div class="news-feedback-text flex">
      <div class="feedback-text-left">
        <h3>
          La section
        </h3>
        <p>
          Informations generales
        </p>
        <div>
          <a class="ss" href="mailto:info@istmuvira.net">
            section@istmuvira.net
          </a>
        </div>
        <div>
          <a class="ss" href="tel:+243999644524">+243 999 644 524</a>
        </div>
      </div>
      <div class="feedback-text-rigth">
        <p>
          Relations medias
        </p>
        <div class="flex">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-square-twitter"></i></a>
          <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="news-feedback-img"></div>
  </div>
{% endblock %}
