{% extends '/istm_index/filieres/base_filieres.html.twig' %}

{% block title %}
  Domaines d'Etudes - ISTM Uvira
{% endblock %}

{% block body %}
{% block filieres_right %}
        <div class="filieres-right-text">
          <h1>
            Domaines d'études
          </h1>
          <h6>
            Vous cherchez le meilleur programme d'études selon vos intérêts?
          </h6>
          <p>
            Explorez nos domaines d'études et découvrez tous les programmes qui
            s'y rattachent. Du baccalauréat au Licence, en passant par le, vous
            trouverez votre voie à l'Institut Supérieur des Techniques
            Médicales!
          </p>
          <div class="filieres-right-items flex">
            {% for f in filiere %}
              <div class="card" style="width: 16rem;">
                <img class="card-img-top"
                  src={{ f.imageUrl }}
                  alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title">
                    {{ f.title }}
                  </h5>
                  <a href="/filieres/{{ f.slug }}" class="button">Explorer</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
  {% endblock %}
{% endblock %}
