{% extends 'base.html.twig' %}

{% block title %}Edit StudentBook{% endblock %}

{% block body %}
    <h1>Edit StudentBook</h1>

    {{ include('student_book/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_student_book_index') }}">back to list</a>

    {{ include('student_book/_delete_form.html.twig') }}
{% endblock %}
