{% extends 'base.html.twig' %}

{% block title %}New StudentBook{% endblock %}

{% block body %}
  <div class="registration-form">
    <div class="container">
    <h1>Ajouter un livre</h1>

    {{ include('student_book/_form.html.twig') }}

    <a href="{{ path('app_student_book_index') }}">back to list</a>
</div></div>
{% endblock %}
